html{
    background-color: #DBF9FC;
    background-size: cover;
}

h2{
    padding: 4%
}

table{
    border: solid black 1px;
    text-align: center;
    background-color: aliceblue;
}

tr{
    border: solid black 1px;
}

th{
    border: solid black 1px;
}

td{
    color:black;
    border: solid black 1px;
}