html{
    background-image: url('../../imagenes/bienvenida.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#contenedor{
    text-align: center;
    }

h1{
    color:black; 
    font-size: 600%;
}

span{
    color:blue;
}

h3{
    color: white;
    font-size: 400%;
}