

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <p class="navbar-brand">Menú</p>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/listaDeBandas">Lista de bandas</a>
          <a class="nav-link" routerLink="/proximosCertamenes">Próximos certamenes</a>
          <a class="nav-link" routerLink="/entrar">Entrar</a>
          <a class="nav-link" href="#">Puntuaciones</a>
        </div>
      </div>
    </div>
  </nav>

