html{
    background-image: url('../../imagenes/bandas-inscritas.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h2{
    padding: 4%
}

table{
    border: solid black 1px;
    margin-left: 5%;
    text-align: center;
    background-color: aliceblue;
}

tr{
    border: solid black 1px;
}

th{
    border: solid black 1px;
}

td{
    border: solid black 1px;
}