<html>

<h2>Datos a introducir para el registro</h2>

<form>

    <div class="form-group">
        <label for="nombre_certamen" class="control-label">Nombre del nuevo certamen</label>
        <input type="text" class="form-control" id="nombre_certamen" name="nombre_certamen" placeholder="Nombre del certamen"
            [(ngModel)]="certamen.nombre_certamen" [ngClass]="{'claseEspecial':nombre_certamenOK==false}" (click)="nombreCertamenCorregido()">
        <label *ngIf="nombre_certamenOK==false">Este campo es obligatorio</label>
    </div>    

    <div class="form-group">
        <label for="fecha" class="control-label">Fecha en la que tendrá lugar el certamen</label>
        <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha del certamen"
            [(ngModel)]="certamen.fecha" [ngClass]="{'claseEspecial':fechaOK==false}" (click)="fechaCorregido()">
        <label *ngIf="fechaOK==false">Este campo es obligatorio</label>
    </div>                    
                            
    <div class="form-group">
        <label for="lugar" class="control-label">Lugar donde tendrá lugar el certamen</label>
        <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Lugar del certamen"
            [(ngModel)]="certamen.lugar" [ngClass]="{'claseEspecial':lugarOK==false}" (click)="lugarCorregido()">
        <label *ngIf="lugarOK==false">Este campo es obligatorio</label>
    </div>  
    
    <button type="button" class="btn btn-success" (click)="rellenar()">Registrar</button>
</form>

</html>
