
<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
      <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
          <a href="" class="navbar-brand">
              <h1 class="m-0 text-primary"><span class="text-dark">MÚSICA </span>GLOBAL</h1>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
              <div class="navbar-nav ml-auto py-0">
                  <a class="nav-item nav-link" routerLink="/listaDeBandas">Bandas inscritas</a>
                  <a class="nav-item nav-link" routerLink="/proximosCertamenes">Próximos certamenes</a>
                  <a class="nav-item nav-link" routerLink="/todasLasBandas">Todas las bandas</a>
                  <a class="nav-item nav-link" routerLink="/clasificacion">Clasificación</a>
                  <a class="nav-item nav-link" routerLink="/entrar">Zona de bandas</a>
                  <a class="nav-item nav-link" routerLink="/jueces">Zona de jueces</a>
              </div>
          </div>
      </nav>
  </div>
</div>




<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <p class="navbar-brand">Menú</p>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/listaDeBandas">Bandas inscritas</a>
          <a class="nav-link" routerLink="/proximosCertamenes">Próximos certamenes</a>
          <a class="nav-link" routerLink="/todasLasBandas">Todas las bandas</a>
          <a class="nav-link" routerLink="/clasificacion">Clasificación</a>
          <a class="nav-link" routerLink="/entrar">Zona de bandas</a>
          <a class="nav-link" routerLink="/jueces">Zona de jueces</a>
        </div>
      </div>
    </div>
  </nav> -->

