html{
    background-image: url('../../imagenes/todas-las-bandas.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#contenedor{
    text-align: center;
    top: 50%
}

button{
    margin: 8%
}